.breadcrumb {
    padding: 7px;
    background-color: rgb(199, 193, 193);
    list-style-type: none;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a {
    color: blue;
}

.slash::before {
    content: "/";
    text-decoration: none;
    color: black;
    padding: 10px;
}

