.menu {    
    /* Style for menu button */
    position: relative;
    cursor: pointer;
    margin-right: 95%;  /* if delete this, menu box can be hovered all the way from left to right */
}

.submenu {    
    /* Hide submenu */
    background-color: lightgrey;
    position: absolute;
    display: none;
}

.submenu-item {
    padding: 15px;
    width: 100px;
}
  
.menu:hover .submenu {    
    /* Show submenu on hover */
    display: block;
}

.submenu-item:hover {
    background-color: grey;
}